.main-container{
    width: 100%;
}
.section{
    width: 100%;
    height: 100%;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #000;
    padding: 0px;
}

.user-list-cont{
    padding: 0px;
}

.section_child{
    width: 100%;
    height: 100%;
}

.section_child h3{
    text-align: center;
    margin: 10px 0px;
}

.input_cont{
    position: relative;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.input_cont > button{
    position: relative;
    bottom: 9px;
}

.input_cont textarea{
    width: 70%;
}
.chat-list-cont{
    list-style-type: none;
    padding: 10px;
    width: 80%;
    margin: 0px auto;
    height: 85%;
    overflow: auto;
}

.sender-chat{
    display: inline-block;
    margin: 10px 0px;
    background-color: deepskyblue;
    border-radius: 10px;
    padding: 10px;
}
.receiver-chat{
    display: inline-block;
    margin: 10px 0px;
   background-color: darkgray;
    border-radius: 10px;
    padding: 10px
}

.receiver-chat img, .sender-chat img{
    height: 150px;
    width: 200px;
}
.scrolltobottom{ 
    float: "left"; 
    clear: "both" 
}

.image-container{
    width: 80%;
    margin: 0px auto;
    border: 1px solid darkgray;
    background-color: #fff;
    height: 200px;
    position: relative;
    bottom: 180px;
}

.message-image{
    height: 100%;
    margin: 0px auto;
}

.image-container button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: darkgrey;
}

.image-loader-container{
    float: right;
    margin: 10px 0px; 
}

.image-loader-container > div{
    height: 150px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    border-radius: 10px;
}
.image-loader{
    color: #fff !important;
}




